@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <h1 class="meu_nome">Ola! eu sou o Uebester! </h1>
    <p class="titlee">FullStack Dev</p>
    <p class="sobre_eu">Possuo conhecimento básico em C#/.NET/ SQL Server/ MySQl e JavaScript e Quero me aprofundar cada vez mais na área, explorando tanto o front-end quanto o back-end, para me tornar um desenvolvedor Full Stack. Meu objetivo é construir uma carreira sólida e me tornar um programador de excelência.</p>

    <img src="/img/imag.jpeg" alt="Minha Foto" class="minha-imagem" />

</div>




