@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <h1 class="meu_nome">Ola! eu sou o Uebester! </h1>
    <p class="titlee">FullStack Dev</p>
    <p class="sobre_eu">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ratione laborum corporis obcaecati nihil ex ad illum non deleniti nulla, dolor debitis doloremque laboriosam illo facere aspernatur quas officiis error.</p>

    <img src="/img/imag.jpeg" alt="Minha Foto" class="minha-imagem" />

</div>




