@page
@model SobreModel
@{
   ViewData["Title"] = "Sobre";
}
 <div class="cot_eu">
   <h1 class="eu_aqui">Sobre mim</h1>

 </div>


<img src="/img/png-transparent-c-removebg-preview.png" alt="icone1" class="meus_icones">