@page
@model SobreModel
@{
   ViewData["Title"] = "Sobre";
}
 <div class="cot_eu">
   <h1 class="eu_aqui">Sobre mim</h1>

 </div>

<div class="LinguasPr">

<img src="/img/JSscrip.png" class="Jsscr" alt="">
<img src="/img/ht.png" class="csico" alt="">
<img src="/img/cs.png" class="htico" alt="">
<img src="/img/csh.png" alt="icone1" class="meus_icones">
</div>